:root
{
    --navColOne: #16271c;
    --navColTwo: #0e3628;
}
head{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html{box-sizing: border-box;}

.ai_card{
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: rgba(32,34,37,.5);
    border-radius: 20px 15px 15px 20px;
    display: flex;
    height: 335px;
    margin: 1rem 1rem 1rem 1rem;

}

.ai_card > .RowWrap {
    height: inherit;
    display: inline-flex;
}
.ai_card > .RowWrap > .imgExtraBorder {
    height: 335px;
    display: inherit;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -moz-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -ms-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -o-linear-gradient(var(--navColOne), var(--navColTwo));
    background: linear-gradient(var(--navColOne), var(--navColTwo));
    background-repeat: no-repeat;
    border-radius: 15px;
}
.ai_card > .RowWrap > .imgExtraBorder > .img-square-wrapper {
    margin: 1rem 1rem 1rem 1.05rem;
    height: 300px;
    width: 300px;
}
.ai_card > .RowWrap >.imgExtraBorder >  .img-square-wrapper > .avatar
{
    -webkit-backface-visibility: hidden;
    width: 300px;
    height: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(32,34,37,.8);
    border-radius: 15px;
    object-position: center;
    top: inherit;
}

.ai_card > .RowWrap > .cardClassDetails {
    height: inherit;
    width: inherit;
    text-align: left;
    align-content: flex-start;
    align-self: flex-start;
    text-align-last: left;
    margin: 1rem 1rem 1rem 2rem;
}


.ai_card > .RowWrap > .newClassDetails{
    height: inherit;
    width: inherit;
    text-align: center;
    align-items: center;
    align-content: flex-start;
    align-self: flex-start;
    text-align-last: left;
    margin: 1rem 1rem 1rem 2rem;
    font-size: 275%;
    font-weight: 400;
}
.cardClassDetails > .classifierHeader
{

    width: inherit;
    display: flex;
    justify-content: space-between;
}

.Del
{
}

.ai_card > .RowWrap > .cardClassDetails > .classifierHeader> .classifierTitle,.newClassDetails
{
    font-size: 275%;
    font-weight: 400;
}
.ai_card > .RowWrap >.cardClassDetails >  .classifierDesc
{
    margin: 1rem 0rem 0rem 0rem;
}
