:root {
    //--bgColorOne:  #f4eeea;
    //--bgColorTwo:  #afb1ce;
    --bgColorOne: #75B863;
    --bgColorTwo:  #40593B;

    --navColOne: #232725;
    --navColTwo: #1e211f;

}


html{
    margin: 0;
    min-height: 100%;
}

body
{
    min-height: 100%;
    margin: 0;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background: -moz-linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background: -ms-linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background: -o-linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background: linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.App {
  text-align: center;
  align-content: center;
  align-self: center;
  text-align-last: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.controlledBorder
{
    display: flex;
    background-color: #333333;
    height: 5px;
}
.navbar-collapse
{
    flex-basis: 100%;
    align-items: center;
    border-radius: 30px;
    color: #c4c4c4;
    background: -webkit-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -moz-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -ms-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -o-linear-gradient(var(--navColOne), var(--navColTwo));
    background: linear-gradient(var(--navColOne), var(--navColTwo));
    z-index: 1000;
}



.NavBar{
    height: 9vh;
    font-size: x-large;
    color: #c4c4c4;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -moz-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -ms-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -o-linear-gradient(var(--navColOne), var(--navColTwo));
    background: linear-gradient(var(--navColOne), var(--navColTwo));
    background-repeat: no-repeat;
    position: relative;
}


.App-link {
  color: #09d3ac;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.select {
  text-align-last: center;
}
