:root {
    //--bgColorOne:  #f4eeea;
    //--bgColorTwo:  #afb1ce;
    --bgColorOne: #75B863;
    --bgColorTwo:  #40593B;
    --textColor: #c4c4c4;
    --navColOne: #232725;
    --navColTwo: #1e211f;

}


html{
    margin: 0;
    min-height: 100%;
}

body
{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    margin: 0;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background: -moz-linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background: -ms-linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background: -o-linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background: linear-gradient(var(--bgColorOne), var(--bgColorTwo));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.App {
  text-align: center;
  align-content: center;
  align-self: center;
  text-align-last: center;
}

.colorButton
{
    font-weight: 600;
    width: 10rem;
    height: 4rem;
    border-color: var(--navColTwo);
    color: var(--textColor);
    background:linear-gradient(var(--navColOne), var(--navColTwo));
}

.colorButton:hover
{
    border-color: var(--bgColorOne);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.controlledBorder
{
    display: flex;
    background-color: #333333;
    height: 5px;
}

.instructions
{
    color: black;
    border-color: var(--navColTwo);
    border-style: solid;
    display: compact;
    background: rgb(146, 200, 126);
    border-radius: 30px;
    padding: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
    text-align: left;
    margin-left:  150px;
    margin-right: 150px;
}

.navbar-collapse
{
    flex-basis: 100%;
    align-items: center;
    border-radius: 30px;
    color: var(--textColor);
    background: -webkit-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -moz-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -ms-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -o-linear-gradient(var(--navColOne), var(--navColTwo));
    background: linear-gradient(var(--navColOne), var(--navColTwo));
    z-index: 1000;
}



.NavBar{
    height: 9vh;
    font-size: x-large;
    color: var(--textColor);
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -moz-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -ms-linear-gradient(var(--navColOne), var(--navColTwo));
    background: -o-linear-gradient(var(--navColOne), var(--navColTwo));
    background: linear-gradient(var(--navColOne), var(--navColTwo));
    background-repeat: no-repeat;
    position: relative;
}


.App-link {
  color: #09d3ac;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.select {
  text-align-last: center;
}
